<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать пользователя</title>
</head>
<body>
<h1>Создать нового пользователя</h1>

<form action="#" th:action="@{/admin}" th:object="${user}" method="post">
    <label>Имя: <input type="text" th:field="*{name}" /></label><br/>
    <label>Email: <input type="email" th:field="*{email}" /></label><br/>
    <label>Пароль: <input type="password" th:field="*{password}" /></label><br/>

    <label>Роли:</label><br/>
    <div th:each="role : ${allRoles}">
        <label>
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
            <span th:text="${role.name}"></span>
        </label><br/>
    </div>

    <button type="submit">Создать</button>
</form>

<a href="/admin">Назад</a>

</body>
</html>