<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пирожочка</title>
</head>
<body>

<h1>Приветствую, дружок-пирожок!</h1>

<div>
    <p><strong>Имя пользователя:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>Имя:</strong> <span th:text="${user.name}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>

    <p><strong>Роли:</strong></p>
    <ul>
        <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
    </ul>
</div>


<div style="margin-top: 40px;">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

</body>
</html>
